# Fichiers et dossiers Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Fichiers d'environnement local
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de base de données SQLite (si vous utilisez SQLite)
*.sqlite3
db.sqlite3

# Fichiers de migration Django (facultatif, à ajuster selon vos besoins)
**/migrations/*.py
!**/migrations/__init__.py

# Fichiers temporaires et logs
*.log
logs/
*.log.*
*.tmp
temp/

# Fichiers de l'éditeur (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de dépendances locales
pip-wheel-metadata/
Pipfile.lock

# Fichiers de couverture de tests
.coverage
coverage.xml
*,cover
htmlcov/

# Fichiers de cache
*.cache
.cache/
*.bak

# Fichiers générés par macOS
.DS_Store

# Fichiers de documentation générés
docs/_build/

# Dossiers spécifiques à votre projet (ajustez selon vos besoins)
media/
staticfiles